<div class="container">
  <h1>Login</h1><hr>
  <form class="form" action="loginAction" method="post" enctype='application/json'>
    <input class='form-control' type="text" name="name" placeholder='Username' value="">
    <input class='form-control' type="password" name="password" placeholder='password' value="">
    <input type="submit" class='btn btn-submit' name="submit" value="Submit">
  </form>
</div>
