<div class="container">
  <h3>Register</h3><hr>
  <form class="form" action="/user/registerAction" enctype='application/json' method="post">
    <input type="text" class='form form-control' name="name" placeholder='Username' value="">
    <input type="email" class='form form-control' name="email" placeholder='Email' value="">
    <input type="password" class='form form-control' name="password" placeholder='Password' value="">
    <input type="submit" name="submit" class='btn btn-default' value="Submit">
    <a style='float:right;' href="/user/login">Already Registered? Log-in</a>
  </form>
</div>
